@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background: #e3e1ff;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 12px;
  box-shadow: 1px 2px 6px rgba(28, 6, 49, 0.08);
  background: white;
}
.error {
  color: #ff3f80;
  font-size: 14px;
}
button {
  text-decoration: none;
  background: #5ae4ca;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  padding: 10px 20px;
}
